extends layout
block content
			script(type='text/javascript').
				$(document).ready(function(){
				$("#myStudents").css("color", "#ff6b6b");
				$("#allStudents").show();
				$("#addForm").hide();
				$("#starForm").hide();
				$("#myStudents").click(function(){
				$("#myStudents").css("color", "#ff6b6b");
				$("#addStudents").css('color','#1cbab2');
				$("#assignStars").css('color','#1cbab2');
				$("#allStudents").show();
				$("#addForm").hide();
				$("#starForm").hide();
				});
				$("#addStudents").click(function(){
				$("#myStudents").css("color", "#1cbab2");
				$("#addStudents").css('color','#ff6b6b');
				$("#assignStars").css('color','#1cbab2');
				$("#addForm").show();
				$("#allStudents").hide();
				$("#starForm").hide();
				});
				$("#assignStars").click(function(){
				$("#myStudents").css("color", "#1cbab2");
				$("#addStudents").css('color','#1cbab2');
				$("#assignStars").css('color','#ff6b6b');
				$("#starForm").show();
				$("#allStudents").hide();
				$("#addForm").hide();
				});
				});
			.container(style='height:100%; width:90%')
				.row
					h2.col-sm-6.col-md-6.col-lg-6 Shoot for the stars
					.col-sm-2.col-md-2.col-lg-2
					#username.col-sm-2.col-md-2.col-lg-2 Hello, #{user.firstName} #{user.lastName}
					button#logout.col-sm-2.col-md-2.col-lg-2.btn.btn-default.navbar-btn(type='button', style='margin-right:-15px; margin-top:-20px; width:110px; height:38px; background-color:#1cbab2; color:#ffffff; border:none; font-size:20px; margin-top:30px') Log out
				.row(style='height:90%; margin-left:-50px')
					#teacher_left_nav.col-sm-3.col-md-3.col-lg-3
						ul
							li
								a#myStudents(href='#') My students
							li
								a#addStudents(href='#') Add students
							li
								a#assignStars(href='#') Assign stars
						ul#stars_div
							li(style='margin-top:100px;') You have
							li(style='margin-top:-30px;')
								.num_star 80
								img(src='/images/yellow_star.png')
							li for this week
					#teacher_right_display.col-sm-9.col-md-9.col-lg-9
						#allStudents
							each student in students
								ul.each_student
									li.student_name #{student.firstName} #{student.lastName}:
									li.small_star2
										img(src='/images/yellow_star.png')
									li.multiple2 x #{student.stars}
						form#addForm(action='/createStudent', method='POST')
							|Username:     
							input#name(type='text', name='username')
							br
							br
							|Password:     
							input#email(type='password', name='password')
							br
							br
							|First Name: 
							input(type='text', name='firstName',required)
							br
							br
							|Last Name: 
							input(type='text', name='lastName',required)
							br
							br
							input(type='submit', value='Register Student')
						form#starForm
							| Select students:     
							select
								option Tom
								option Jerry
								option Anna
							br
							br
							|Number of stars:     
							input(type='text', name='stars')
							br
							br
							|Reason:     
							select
								option Academics
								option Sports
								option Helping others
							br
							br
							input(type='submit', name='Complete', value='Complete')
	